.moving-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    left: 0;
    top: 0;
    z-index: -100;
}

.star{
    width: 3px; 
    height: 3px;
    border-radius: 50%;
    top: 0;
    background-color: rgba(96, 250, 255, 0.495);
    position: relative;
    animation-name: scroll-to-top;
    animation-duration: 7s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-fill-mode: both;
    animation-delay: 3.5s;
    animation-direction: alternate; 
}

@keyframes scroll-to-top {
  0% {
    top: -100px; 
  }
  100% {
    top: 0; 
  }
  }